<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
  
    <!--Node and Attribute Names. Add Node and attributes below as required...-->
    <add key="Message.TypeName" value="Message.TypeName"/>
    <add key="Message.Category" value="Message.Category"/>
    <add key="Issue.Level" value="Issue.Level"/>
    <!--Node and Attribute Names-->

    <!--Node values. Add Node names below as required...-->
    <add key="Issue" value="Issue"/>
    <!--Node values. Add Node names below as required...-->

    <!--Legends-->
    <add key="CriticalError" value="Red"/>
    <add key="Error" value="Pink"/>
    <add key="CriticalWarning" value="Orange"/>
    <add key="Warning" value="Yellow"/>
    <!--Legends-->

    <add key="XMLFilePath" value="D:\Souvik\share\ReadXML\ReadXML\FxCopRexsult.xml"/>  
    <add key="ExcelFilePath" value="D:\Souvik\share\ReadXML\ReadXML\XMLValues.xlsx"/>  

  </appSettings>
</configuration>